@model CemeteryNew.Models.Deceased

<h2>Вы уверены, что хотите подтвердить данные этого захоронения? </h2>
<div>


    <h2>@Model.LName @Model.FName @Model.SName (@Html.DisplayFor(modelItem => Model.DOB) - @Html.DisplayFor(modelItem => Model.DateDeath))</h2>

    <img src="@Model.Photo" width="300" />

    <hr />

    <dl class="dl-horizontal">
        @if (Model.BurialPlace != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.BurialPlace.NArea)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BurialPlace.NArea)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BurialPlace.NBurial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BurialPlace.NBurial)
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.BurialPlace.NArea)
            </dt>
            <dd>
                Нет данных
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BurialPlace.NBurial)
            </dt>
            <dd>
                Нет данных
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        @if (Model.Description != "" && Model.Description != null)
        {
            <dd>
                @Model.Description
            </dd>
        }
        else
        {
            <dd>
                Нет описания
            </dd>
        }

        <dt>
            Категории
        </dt>

        @if (Model.Categories != null && Model.Categories.Count > 0)
        {
            <dd>
                @foreach (var item in Model.Categories)
                {
                    <p>item.CategoryName</p> <br />
                }
            </dd>
        }
        else
        {
            <dd>
                Нет категорий
            </dd>
        }

    </dl>
</div>



<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input class="button" type="submit" value="Удалить" />
            <input class="button" type="button" value="Отменить" onclick="location.href='@Url.Action("UnknownBurials", "Admin")'" />
        </div>
    }
</div>


