@model IEnumerable<CemeteryNew.Models.Deceased>

<div class="AddBurial">
    <input type="button" value="Перейти к подтвержденным" onclick="location.href='@Url.Action("Search", "Home")'" />
</div>

<div>
    <input class="button" type="button" value="Добавить захоронение" onclick="location.href='@Url.Action("AddDeceased", "Home")'" />
</div>

<table class="table">
    <tr>
        <th>Фотография</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Дата рождения / смерти</th>
        <th>Место захоронения</th>
        <th>Описание</th>
        <th>Категория</th>
    </tr>
    @foreach (var item in Model)
    {
        if (!item.Confirmed)
        { ViewBag.Color = "#FF6347"; }
        else { ViewBag.Color = "#F2F2F2"; }

        <tr style="background-color:@ViewBag.Color">
            <td>
                <a href="@item.Photo" target="_blank">
                    <img class="DeceasedPhoto" src="@item.Photo" />
                </a>
            </td>
            <td> @Html.DisplayFor(modelItem => item.LName)</td>
            <td> @Html.DisplayFor(modelItem => item.FName)</td>
            <td> @Html.DisplayFor(modelItem => item.SName)</td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB) - @Html.DisplayFor(modelItem => item.DateDeath)
            </td>
            @if (item.BurialPlace != null)
            {
                <td>
                    Номер участка/номер могилы
                    <p>@item.BurialPlace.NArea / @item.BurialPlace.NBurial</p>
                </td>
            }
            else
            {
                <td>Нет данных</td>
            }
            <td></td>
            @if (item.Categories != null)
            {
                <td>
                    @foreach (var item2 in item.Categories)
                    {
                        <p>@item2.CategoryName</p>;
                    }
                </td>
            }
            else
            {
                <td>Нет данных</td>
            }
            <td>
                <a href="@Url.Action("ConfirmBurial", "Admin",new { Id=item.Id })" title="Подтвердить захоронение"> <img class="Table-button" src="~/Content/Images/Icons/Confirm.png" />  </a>
                <br />
                <a href="@Url.Action("EditBurial", "Admin",new { Id=item.Id })" title="Редактировать"> <img class="Table-button" src="~/Content/Images/Icons/Edit.png" />  </a>
                <br />
                <a href="@Url.Action("DeleteBurial", "Admin",new { Id=item.Id })" title="Удалить захоронение"> <img class="Table-button" src="~/Content/Images/Icons/Delete.png" style="border:4px solid black" />  </a>
            </td>
        </tr>
    }
</table>