@model CemeteryNew.Models.Deceased

<div>
    <h2>@Model.LName @Model.FName @Model.SName (@Html.DisplayFor(modelItem => Model.DOB) - @Html.DisplayFor(modelItem => Model.DateDeath))</h2>

    <img src="@Model.Photo" width="500" />

    <hr />

    <dl class="dl-horizontal">


        @if (Model.BurialPlace != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.BurialPlace.NArea)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BurialPlace.NArea)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BurialPlace.NBurial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BurialPlace.NBurial)
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.BurialPlace.NArea)
            </dt>
            <dd>
                Нет данных
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BurialPlace.NBurial)
            </dt>
            <dd>
                Нет данных
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        @if (Model.Description != "")
        {
            <dd>
                @Model.Description
            </dd>
        }
        else
        {
            <dd>
                Нет описания
            </dd>
        }

        <dt>
            Категории
        </dt>

        @if (Model.Categories != null)
        {
            <dd>
                @foreach (var item in Model.Categories)
                {
                    @item.CategoryName <br />
                }
            </dd>
        }
        else
        {
            <dd>
                Нет категорий
            </dd>
        }

        <dt>Статус</dt>

        @if (Model.Confirmed)
        {
            <dd>Подтвержденное захоронение</dd>
        }
        else
        {
            <dd>Неподтвержденное захоронение</dd>
        }
    </dl>
</div>

<div>
    @if (User.IsInRole("admin"))
    {
        if (Model.Confirmed)
        {
            <p>
                <input type="button" value="Пометить как неподтвержденного" onclick="location.href='@Url.Action("UnconfirmBurial", "Admin", new { Id = Model.Id })'" />
                <input type="button" value="Удалить" onclick="location.href='@Url.Action("DeleteBurial", "Admin", new { Id = Model.Id })'" />
            </p>
        }
        else
        {
            <p>
                <input type="button" value="Подтвердить" onclick="location.href='@Url.Action("ConfirmBurial", "Admin", new { Id = Model.Id })'" />
                <input type="button" value="Удалить" onclick="location.href='@Url.Action("DeleteBurial", "Admin", new { Id = Model.Id })'" />
            </p>
        }
    }
</div>